

.center {
margin: 10px 20px;
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.btn-brand{
    background-image: linear-gradient(45deg, rgb(14, 188, 217), rgb(29, 219, 182));
    border-bottom-right-radius: 22px;
    border-top-left-radius: 22px;
    color: white;
    font-weight: 500;
    padding: 10px 25px;
    border: none;
    outline: none;
}
.btn-brand:focus{
    background-image: linear-gradient(45deg, rgb(14, 188, 217), rgb(29, 219, 182));
    border-bottom-right-radius: 22px;
    border-top-left-radius: 22px;
    color: white;
    font-weight: 500;
    padding: 10px 25px;
    border: none;
    outline: none;
}
